<!DOCTYPE html>
<html>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
<div id="myChart" style="width:100%;max-width:600px"></div>

<script>
urldata = window.location.protocol + "//" + window.location.host + "/data/" + '{{ filename }}';
urlderiv = window.location.protocol + "//" + window.location.host + "/deriv/" + '{{ filename }}';
urlvalleys = window.location.protocol + "//" + window.location.host + "/valleys/" + '{{ filename }}';


title = 'Weight vs Time';
xlabel = 'Time (ms)';
ylabel = 'Weight (0.1lb)';
ylabel2 = 'Weight Change Rate (lb/s)';

var dv;
var valleys;
var ft;
var vt;

ft = fetch(urldata)
    .then((response) => response.json())
    .then((json) => {dv = json; 
    	vt = fetch(urlvalleys)
    		.then((response) => response.json())
    		.then((json) => {valleys = json;
          ddt = fetch(urlderiv)
      		.then((response) => response.json())
      		.then((json) => {ddv = json;       
            doit(); });});});
    	
console.log(ft);

function doit() {
    xscale = dv.metadata.T_sample;
    len = dv.data[0].data.length;
    var xv = Array.from(Array(len), (_,i)=> i*xscale);
    var sv = Array(len).fill(0);

    fv = [];

    for (i in dv.data) {
      //   let ev = {
      //     x: xv,
      //     y: dv.data[i].data,
      //     name: dv.data[i].label,
      //     mode: "lines"
      //   };
        sv = sv.map((n,j) => n + dv.data[i].data[j]);
        // fv.push(ev);
        // console.log(ev);
    }

    let ev = {
          x: xv,
          y: sv,
          name: "Total",
          mode: "lines"
    };
    fv.push(ev);

    // ddv.push(0);
    let dev = {
          x: xv,
          y: ddv.map((r,i)=>r/xscale*100),
          name: "Deriv",
          yaxis : 'y2',
          mode: "lines"
    };

    fv.push(dev);
    console.log(fv);

    console.log(fv);

    sm = ddv.reduce((a, b) => a + b, 0) / sv.length;
    valtime = valleys.map((r,i)=>(r-1)*xscale);
    valheight = valleys.map((r,i)=>{min=0; for (j=-5; j <= 3; j++) min=min>ddv[r+j]?ddv[r+j]:min; return min/xscale*100;});

    ev = {
          x: valtime,
          // y: Array(valtime.length).fill(sm),
          y: valheight,
          name: "Stands",
          yaxis : 'y2',
          mode: "markers"
    };
    console.log(ev);
    fv.push(ev);
    
    const layout = {
      title: title,
      xaxis: {title: xlabel},
      yaxis: {title: ylabel},
      yaxis2: {title: ylabel2, overlaying: 'y', side: 'right'},
      showlegend: true,
      legend: {
        "orientation": "h",
        x: 0,
        y: 1
      }
    };

    Plotly.newPlot("myChart", fv, layout);
}
</script>

</body>
</html>

